body {
  background-color: rgb(190, 220, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.container,
.card,
.cross {
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header-background,
.enter-btn,
.window-create-card-wrapper {
  background-color: rgb(162, 204, 252);
}

.header-background {
  border-bottom: 10px solid rgb(200, 226, 255);
}

.header,
.logo-wrapper,
.btn-wrapper,
.button,
.log-in-form,
.doctor-form,
.cardiologist-form,
.enter-btn,
.window-create-card-wrapper,
.visit-form,
.close-card,
.create-card,
.doctors-inputs-wrapper,
.conteiner__cards,
.card,
.card__btn-rewrite,
.filter-wrapper,
.filter-content,
.filter-description-wrapper,
.filter-status-wrapper,
.filter-urgency-wrapper,
.filter-status,
.filter-urgency,
.card__name-wrapper {
  display: flex;
}

.header,
.btn-wrapper,
.conteiner__cards,
.filter-content,
.filter-description-wrapper,
.filter-status-wrapper,
.filter-urgency-wrapper,
.card__name-wrapper {
  justify-content: space-between;
}

.header,
.button,
.window,
.log-in-form,
.doctor-form,
.cardiologist-form,
.enter-btn,
.window-create-card-wrapper,
.visit-form,
.close-card,
.create-card,
.doctors-inputs-wrapper,
.card__btn-rewrite,
.filter-content,
.filter-description-wrapper,
.filter-status-wrapper,
.filter-urgency-wrapper,
.filter-status,
.filter-urgency {
  align-items: center;
}

.header {
  padding: 50px 0px;
}

.logo-wrapper,
.button,
.window,
.log-in-form,
.doctor-form,
.cardiologist-form,
.enter-btn,
.visit-form,
.close-card,
.create-card,
.doctors-inputs-wrapper,
.card__btn-rewrite,
.filter-wrapper,
.filter-status,
.filter-urgency {
  justify-content: center;
}

.logo {
  width: 100px;
  animation: circle 80s cubic-bezier(1, 1, 1, 1) infinite;
}
@keyframes circle {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* ********* log-in ********** */
.button,
input,
.select,
.select-main,
.doctors-inputs-wrapper input,
.input-desc,
.input-heartDiseases,
.select-urgency,
.select-status,
.option-status-close,
.card__delete,
.card__btn-more {
  border: none;
}

.button,
.enter-btn,
.close-card,
.create-card,
.card__btn-more,
.card__btn-rewrite,
.cross {
  cursor: pointer;
}

.button,
.enter-btn,
.select,
.select-main,
.close-card,
.create-card,
.select-urgency,
.select-status,
.option-status-close,
.select-urgency .option:nth-child(2),
.select-status .option-status:nth-child(2),
.select-urgency .option:nth-child(3),
.select-status .option-status:nth-child(3),
.select-urgency .option:nth-child(4),
.select-status .option-status:nth-child(4),
.card__doc {
  font-weight: 700;
}

.button,
.window,
.worning-window,
.window-create-card-wrapper,
.close-card,
.create-card {
  border-radius: 15px;
}

.button {
  margin-top: 20px;
  letter-spacing: 2px;
}

.button-log-in,
.button-log-out,
.button-log-in:hover,
.button-log-out:hover,
.log-in-window-header,
.create-card,
.close-card {
  color: white;
}

.button-log-in,
.window,
.close-card,
.create-card {
  background-color: rgb(54, 148, 255);
}

.button-log-in,
.button-log-out,
.close-card,
.create-card {
  transition: transform 0.7s ease, opacity 0.5s ease;
}

.button-log-out {
  background-color: rgb(181, 54, 255);
}

.button-log-in:hover,
.button-log-out:hover,
.button-create-visit:hover {
  transform: scale(0.95);
}

.window,
.worning-window,
.window-create-card-wrapper,
.card__delete,
.cross::before,
.cross::after {
  position: absolute;
}

.window,
.hidden {
  display: none;
}

.window,
.log-in-form,
.cardiologist-form,
.window-create-card-wrapper,
.visit-form,
.doctors-inputs-wrapper,
.card,
.filter-wrapper,
.filter-description-wrapper,
.filter-status-wrapper,
.filter-urgency-wrapper {
  flex-direction: column;
}

.window {
  transform: translate(100px, 50px);
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.log-in-window-header {
  height: 50px;
  font-size: 26px;
}

.log-in-form,
.doctor-form,
.error,
.input-wrapper,
.card,
.card__block,
.filter-wrapper,
.card__name-wrapper {
  width: 100%;
}

.log-in-form,
.doctor-form,
.conteiner__cards {
  flex-wrap: wrap;
}

.cardiologist-form {
  margin-top: 200px;
}

input,
textarea {
  border-radius: 5px;
}

input,
.conteiner__cards,
.card__title {
  font-size: 20px;
}

input,
.input-worning,
.input-worning:focus,
.select,
.select-main,
.doctors-inputs-wrapper input,
.input-desc,
.input-heartDiseases,
textarea,
.select-urgency,
.select-status,
.option-status-close {
  outline: none;
}

input {
  width: 70%;
  height: 50px;
  padding: 0px 20px;
  margin: 5px 0px;
}

.input-worning {
  background-color: rgb(255, 186, 186);
}

.worning-window,
.error,
.button-create-visit,
.create-btn,
.select,
.select-main,
.select-urgency,
.select-status,
.option-status-close,
.cards-wrapper,
.filter-wrapper__headline {
  text-align: center;
}

.worning-window,
.cards-wrapper {
  color: rgb(63, 63, 63);
}

.worning-window {
  width: 350px;
  padding: 20px;
  transform: translate(0, -77px);
  background-color: rgb(255, 148, 148);
}

.enter-btn,
.card__btn-more,
.card__btn-rewrite {
  border-radius: 10px;
}

.enter-btn,
.card__btn-rewrite {
  border: 1px solid white;
}

.enter-btn,
.card__btn-rewrite {
  color: rgb(30, 135, 255);
}

.enter-btn,
.input-login,
.input-password,
.card__btn-more,
.card__btn-rewrite {
  font-size: 14px;
}

.enter-btn,
.close-card,
.create-card,
.card__btn-rewrite {
  width: 120px;
}

.enter-btn,
.close-card,
.create-card,
.doctors-inputs-wrapper input,
.select-urgency,
.select-status,
.option-status-close,
.card__btn-rewrite,
.filter-status,
.filter-urgency {
  height: 40px;
}

.enter-btn {
  transition: transform 0.2s ease;
  margin-top: 20px;
}

.enter-btn:hover {
  transform: scale(1.1);
}

/* ********* create visit ********** */
.button-create-visit,
.create-btn {
  color: rgb(139, 139, 139);
  transition: transform 0.7s ease, box-shadow 0.5s ease;
  background-color: rgb(173, 255, 194);
}

.button-create-visit:hover {
  box-shadow: rgba(255, 255, 255) 0px 0px 20px 10px;
}

/* modale window visit */

.window-create-card-wrapper {
  width: 1000px;
  top: 30px;
  left: 100px;
  padding: 0px 50px 50px;
  justify-content: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.visit-form {
  width: 90%;
}

.headline {
  font-size: 24px;
  color: rgb(73, 73, 73);
  padding: 20px 0px 20px;
}

.select,
.select-main,
.select-urgency,
.select-status,
.option-status-close,
.card__doc {
  color: rgb(54, 148, 255);
}

.select,
.select-main,
.doctors-inputs-wrapper input,
.input-desc,
.input-heartDiseases {
  background-color: rgb(219, 236, 255);
}

.select,
.select-main {
  width: 30%;
  height: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.select {
  font-size: 22px;
}

.select-main {
  width: 80%;
  font-size: 20px;
}

.close-card,
.create-card {
  margin: 20px 0px 0px;
  letter-spacing: 2px;
}

.create-card {
  border: 2px solid rgb(125, 255, 125);
}

.close-card {
  border: 2px solid rgb(255, 179, 179);
}

.input-login,
.input-password {
  width: 70%;
  height: 30px;
}

[class="input-login"][name="age"],
[class="input-login"][type="date"] {
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
}

[class="input-login"][name="pressure"],
[class="input-login"][name="bmi"] {
  margin: 0 27px;
}

[class="input-login"][name="pressure"],
[class="input-login"][name="bmi"] {
  width: 20%;
}

.doctors-inputs-wrapper input {
  width: 1700px;
  margin: 10px 0px;
}

.input-desc,
.input-heartDiseases {
  width: 700px;
  padding: 10px 20px;
  margin: 10px 0px;
}

textarea {
  height: 70px;
  width: 70%;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 20px;
}

.select-urgency,
.select-status,
.option-status-close {
  width: 30%;
  margin-top: 5px;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 10px;
  padding: 3px 0px;
}

.select-urgency,
.select-status {
  margin: 0px 20px;
}

.select-urgency option,
.select-status option {
  font-size: 14px;
}

/* ********** rendering ********** */
.cards-wrapper {
  padding: 100px 0px 100px;
}

/* block card , Rendor new card */
.conteiner__cards {
  margin: 0px 0px 50px;
  padding: 100px 40px;
}

.card {
  min-height: 200px;
  margin: 10px;
  padding: 30px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  align-items: start;
}

.card p {
  padding: 10px 0px 10px;
}

.card__delete {
  background-color: rgb(190, 220, 255);
}

.card__delete {
  top: 10px;
  right: 10px;
}

.card__delete:hover {
  transform: scale(1.2);
}

.card__block {
  padding-top: 30px;
}

.card__block p {
  font-size: 16px;
}

.card__descriptionVisit,
.card__heartDisease {
  word-break: break-all;
  max-height: 100px;
  overflow-y: auto;
}

.card__btn-more {
  font-style: italic;
  color: rgb(87, 87, 87);
  width: 200px;
  align-self: flex-end;
  text-align: end;
}

.card__btn-rewrite {
  margin-top: 50px;
  margin-bottom: 10px;
}

.card__btn-more:hover,
.card__btn-rewrite:hover {
  text-decoration: underline;
}

.filter-wrapper {
  padding: 100px 0px;
  color: rgb(119, 119, 119);
}

.filter-wrapper__headline {
  padding-bottom: 30px;
}

.filter-content {
  width: 800px;
}

.filter-description-wrapper,
.filter-status-wrapper,
.filter-urgency-wrapper {
  height: 80px;
}

.filter-description {
  width: 300px;
  margin: 0px;
}

.filter-label {
  padding-bottom: 10px;
}

.filter-status,
.filter-urgency,
.filter-wrapper__headline,
.input-desc,
.input-heartDiseases {
  font-size: 18px;
}

.filter-status,
.filter-urgency {
  width: 200px;
  margin: 0px;
}

/* cards */
.cross {
  width: 10px;
  height: 10px;
}

.cross::before,
.cross::after {
  content: "";
  top: 50%;
  left: 0;
  width: 80%;
  height: 1.5px;
  background-color: rgb(158, 156, 156);
}

.cross::before {
  transform: translateY(-50%) rotate(45deg);
}

.cross::after {
  transform: translateY(-50%) rotate(-45deg);
}

.cross::before:hover,
.cross::after:hover {
  background-color: rgb(29, 155, 240);
}

.card__doc {
  font-size: 24px;
}

.card__title {
  font-weight: 400;
}

.conteiner__cards p{
  color : rgb(85, 85, 85);
}
