body {
  background-color: rgb(190, 220, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header-background {
  background-color: rgb(162, 204, 252);
  border-bottom: 10px solid rgb(200, 226, 255);
}

.header {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* animation: circle 80s cubic-bezier(1, 1, 1, 1) infinite; */
}
@keyframes circle {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/* ********* log-in ********** */
.btn-wrapper {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.button {
  border: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.button-log-in {
  color: white;
  background-color: rgb(54, 148, 255);
  transition: transform 0.7s ease, opacity 0.5s ease;
}

.button-log-out {
  color: white;
  background-color: rgb(181, 54, 255);
  transition: transform 0.7s ease, opacity 0.5s ease;
}

.not-visiable {
  opacity: 0;
  cursor: auto;
}

.button-log-in:hover,
.button-log-out:hover {
  color: white;
  transform: scale(0.95);
}

.window {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 148, 255);
}

.log-in-window-header {
  height: 50px;
  font-size: 26px;
  color: white;
}

.log-in-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardiologist-form {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: 70%;
  height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  margin: 10px 0px;
  font-size: 20px;
  outline: none;
  border: none;
}

.input-worning {
  outline: none;
  background-color: rgb(255, 186, 186);
}

.input-worning:focus {
  outline: none;
}

.worning-window {
  width: 350px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -15%);
  top: 20%;
  left: 50%;
  background-color: rgb(255, 148, 148);
  border-radius: 15px;
  text-align: center;
  color: rgb(63, 63, 63);
}

.enter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(30, 135, 255);
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 60px;
  background-color: rgb(162, 204, 252);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.enter-btn:hover {
  transform: scale(1.1);
}

/* ********* creste visit ********** */
.button-create-visit,
.create-btn {
  color: rgb(139, 139, 139);
  transition: transform 0.7s ease, box-shadow 0.5s ease;
  background-color: rgb(173, 255, 194);
  text-align: center;
}

.button-create-visit:hover {
  transform: scale(0.95);
  box-shadow: rgba(255, 255, 255) 0px 0px 20px 10px;
}

/** modale window **/

.window-create-card-wrapper {
  width: 1000px;
  position: absolute;
  top: 30px;
  left: 100px;
  padding: 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: rgb(162, 204, 252);
}

.headline {
  font-size: 30px;
  color: rgb(73, 73, 73);
  padding: 50px 0px 50px;
}

.input-wrapper {
  width: 100%;
}

.select,
.select-urgency {
  width: 300px;
  height: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  text-align: center;
  color: rgb(126, 126, 126);
  background-color: rgb(219, 236, 255);
  font-size: 22px;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.select {
  color: rgb(54, 148, 255);
  font-weight: 700;
}

.option {
  color: black;
}

.option-one {
  color: green;
}

.option-two {
  color: blue;
}

.option-three {
  color: red;
}

select .option-none {
  color: rgb(126, 126, 126);
}

.doctors-inputs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.doctors-inputs-wrapper input {
  width: 700px;
  height: 40px;
  background-color: rgb(219, 236, 255);
  border: none;
  outline: none;
  margin: 10px 0px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-desc,
.input-heartDiseases {
  width: 700px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  background-color: rgb(219, 236, 255);
  margin: 10px 0px;
}

textarea {
  height: 100px;
}

textarea::placeholder {
  font-size: 16px;
}

.select-urgency {
  width: 740px;
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
  color: brown;
}

/** cards **/
.cards-wrapper {
  /* margin-top: 500px;
  border-top: 3px solid rgb(200, 226, 255); */
  padding: 100px 0px 100px;
  text-align: center;
  color: rgb(63, 63, 63);
}

/*  */
.hidden {
  display: none;
}
